<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="D:\SewaSindhu\Logs" />
    <add key="CommandDirectory" value="D:\SewaSindhu" />
    <add key="DataSentToClients" value="D:\SewaSindhu\Data Sent To Clients" />
    <add key="DataReceivedFromClients" value="D:\SewaSindhu\Data Received From Clients" />
    <add key="DBServerIP" value="172.16.4.107" />
    <add key="IsTCPCommunication" value="true" />
    <add key="Port" value="11000" />
    <add key="UserId" value="root" />
    <add key="Password" value="lipimysql" />
    <add key="DataBaseType" value="mysql" />
    <add key="URL" value="http://172.16.4.107:8010/DB_Service/Service1.svc" />
    <add key="DeviceCount" value="12" />
    <add key="Device1" value="D1" />
    <add key="Device2" value="D2" />
    <add key="Device3" value="D3" />
    <add key="Device4" value="D4" />
    <add key="Device5" value="D5" />
    <add key="Device6" value="D6" />
    <add key="Device7" value="D7" />
    <add key="Device8" value="D8" />
    <add key="Device9" value="D9" />
    <add key="Device10" value="D10" />
    <add key="Device11" value="D11" />
    <add key="Device12" value="D12" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WCFServiceBinding" maxReceivedMessageSize="250000000" maxBufferSize="250000000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="LipiRMS.Service1">
        <endpoint address="" behaviorConfiguration="WCFServiceBehavior" binding="webHttpBinding" bindingConfiguration="WCFServiceBinding" contract="LipiRMS.IService1" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 3894EED5-9B29-4235-9F9D-898CF1756E49-->